<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>SOFTWARE + HARDWARE</h1>
  <h1>Welcome to Jose Durazo's website!</h1>
  <h2>Integrity | Passion | Excellence</h2>
  <img width="400" alt="Toy Robot" src="/src/assets/toyrobot.jpg">
</div>
<h2>This site is currently being upgraded; in the meantime, here are some interesting links: </h2>
<ul>
  <li>
    <h2><a target="_blank" href="https://www.youtube.com/watch?v=QUz10Z1AfLc">The History of Software Engineering</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

